<%= provide(:title, 'Check Booking List') %>

<h1>Check Booking List</h1>


<div class="row">
  <div class="span6 offset3">
    <%= form_for(@booking) do |f| %>

    


      <%= f.label :floor %>
      <%= f.select(:floor, Table.floor_range) %>

      <%= f.label :zone %>
      <%= f.select(:zone, Table.zone_range) %>
      
      <%= f.label :with_window %>
      <%= f.select(:with_window, Table.with_window_range) %>
      
      <%= f.label :with_charge %>
      <%= f.select(:with_charge, Table.with_charge_range) %>
      
      <%= f.label :timestart %>
      <%= f.select(:timestart, Booking.time_range) %>
      
      <%= f.label :timeend %>
      <%= f.select(:timeend, Booking.time_range) %>
      
      <%= f.label 'Confirmation'%>
      <%= f.select(:confirmation, Array.new<<true) %>
      

      
      <%= f.submit "Check", class: "btn btn-large btn-primary" %>
      
    <% end %>
    
  </div>
</div>
