<% provide(:title, 'Selected Bookings') %>
<h1>Selected Bookings</h1>





<table border="1" width="100%" class="seats">

  <tr>
    <th text-align="center">Table Number</th>
    <th text-align="center">Seat Number</th>
    <th text-align="center">Floor</th>
    <th text-align="center">Floor</th>
    <th text-align="center">Zone</th>
    <th text-align="center">Window</th>
    <th text-align="center">Charge</th>
    <th text-align="center">Time Start</th>
    <th text-align="center">Time End</th>
    <th></th>
  <tr>
  


  <% @booking.all.each do |booking| %>
    <tr>
      <td align="center"><%= booking.seat.table.table_number%></td>
      <td align="center"><%= booking.seat.seat_number%></td>
      <td align="center"><%= booking.seat.table.floor%></td>
      <td align="center"><%= booking.seat.table.zone%></td>
      <td align="center"><%= booking.seat.table.with_window%></td>
      <td align="center"><%= booking.seat.table.with_charge%></td>
      <td align="center"><%= booking.timestart%></td>
      <td align="center"><%= booking.timeend%></td>
      <td><%= link_to "book", "/bookings/#{booking.id}/book", method: 'patch' %></td>
    <tr>
  <% end %>


</table>



