<% provide(:title, 'Selected Bookings') %>
<h1>Selected Bookings</h1>





<table border="1" width="100%" class="seats">

  <tr>
    <th text-align="center">Table Number</th>
    <th text-align="center">Seat Number</th>
    <th text-align="center">Floor</th>
    <th text-align="center">Floor</th>
    <th text-align="center">Zone</th>
    <th text-align="center">Window</th>
    <th text-align="center">Charge</th>
    <th text-align="center">Time Start</th>
    <th text-align="center">Time End</th>
    <th></th>
  <tr>
  
  <div>count=<%= @number %>,class=<%= @number.class %><div>
  <div>floor=<%= @para_floor %>,class=<%= @para_floor.class %><div>
  <div>zone=<%= @para_zone %>,class=<%= @para_zone.class %><div>
  <div>window=<%= @para_window %>,class=<%= @para_window.class %><div>
  <div>charge=<%= @para_charge %>,class=<%= @para_charge.class %><div>
  <div>start=<%= @para_start %>,class=<%= @para_start.class %><div>
  <div>end=<%= @para_end %>,class=<%= @para_end.class %><div>
  

  <div>count=<%= @booking.count %>,class=<%= @booking.count.class %><div>
  <% @booking.all.each do |booking| %>
    <tr>
      <td align="center"><%= booking.seat.table.table_number%></td>
      <td align="center"><%= booking.seat.seat_number%></td>
      <td align="center"><%= booking.seat.table.floor%></td>
      <td align="center"><%= booking.seat.table.zone%></td>
      <td align="center"><%= booking.seat.table.with_window%></td>
      <td align="center"><%= booking.seat.table.with_charge%></td>
      <td align="center"><%= booking.timestart%></td>
      <td align="center"><%= booking.timeend%></td>
      <td><%= link_to "book", "/bookings/#{booking.id}/book", method: 'patch' %></td>
    <tr>
  <% end %>


</table>



