<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <br /><%= @user.email%>
      </h1>
    </section>
  </aside>

</div>

  <% if !@user.bookings.empty? and @user==current_user%>  
   <% @bookings = @user.bookings %>
      <table border="1" width="100%" class="seats">

        <tr>
          <th text-align="center">Floor</th>
          <th text-align="center">Zone</th>
          <th text-align="center">Window</th>
          <th text-align="center">Charge</th>
          <th text-align="center">Time Start</th>
          <th text-align="center">Time End</th>
          <th></th>
        <tr>

        <% @bookings.each do |booking| %>
          <tr>
            <td align="center"><%= booking.seat.table.floor%></td>
            <td align="center"><%= booking.seat.table.zone%></td>
            <td align="center"><%= booking.seat.table.with_window%></td>
            <td align="center"><%= booking.seat.table.with_charge%></td>
            <td align="center"><%= booking.timestart%></td>
            <td align="center"><%= booking.timeend%></td>
            <td><%= link_to "unbook", "/bookings/#{booking.id}/unbook_toprofile", method: 'patch' %></td>
          <tr>
        <% end %>

      </table>
  <% end %>
  
  
<div class="row">
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts(<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
